.admin {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.grid .custom-select.perPage {
    width: 70px;
    float: right;
}

.grid .pagination {
    float: left;
}

.btn-xs {
    padding  : .25rem .4rem;
    font-size  : .875rem;
    line-height  : .5;
    border-radius : .2rem;
}

.btn {
    cursor: pointer;
    color: white !important;
}

.dx-g-bs4-table {
	table-layout:auto;
}